/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '../node_modules/react-toastify/dist/ReactToastify.min.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #1C1D31;
  font-family: SF UI Text Regular;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

h4 {
  color: white;
  font-family: SF UI Text Bold;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title-bar {
  -webkit-app-region: drag;
  background: #26242d;
  position: absolute;
  width: 100%;
  height: 3%;
}

.results.transition.visible {
  width: 100%;
}

.ui.vertical.menu .active.item span {
  background: linear-gradient(to right, #7f88df 0%, #49d2d8 100%) !important;
  color: linear-gradient(to right, #7f88df 0%, #49d2d8 100%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}
/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
  font-family: 'SF UI Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Regular'), url('../resources/fonts/SFUIText-Regular.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Italic'), url('../resources/fonts/SFUIText-RegularItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Light';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Light'), url('../resources/fonts/SFUIText-Light.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Light Italic'), url('../resources/fonts/SFUIText-LightItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium'), url('../resources/fonts/SFUIText-Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium Italic'), url('../resources/fonts/SFUIText-MediumItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Semibold'), url('../resources/fonts/SFUIText-Semibold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Semibold Italic'), url('../resources/fonts/SFUIText-SemiboldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold'), url('../resources/fonts/SFUIText-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold Italic'), url('../resources/fonts/SFUIText-BoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Heavy'), url('../resources/fonts/SFUIText-Heavy.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'SF UI Text Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Heavy Italic'), url('../resources/fonts/SFUIText-HeavyItalic.woff') format('woff');
  }